$base-color: #5A1094;
$base-gray-color: #777879;
$base-fontsize: 16px;
$small-fontsize: 12px;

.card{
    background: linear-gradient(to top left, #FEFEFE/*red*/, white);
    width: 700px;
    height: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07);
    display: flex;
}
.card__info{
    width: 370px;
    height: 100%;
    background-color: transparent;
    //padding-top: 10px;
    padding-left: 40px;
    //padding-right: 40px;
}
.card__order-summary{
    @extend .card__info;
    width: 320px;
}

input[type=text],[type=number],[type=tel]{
    height: 30px;
    width: 95%;
    border: 1px solid #DEDCDC;
    border-radius: 5px;
    padding: 5px;
    font-size: $base-fontsize;
    margin: 5px 5px 5px 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.input-invalid{
    background-color:rgba(248, 231, 28, 0.1);// #F8E71C;
}
.input-valid{
    background-color: white;
}
select{
    @extend input[type=text];
    height: 42px;
    color: $base-gray-color;
    .option-disabled{
        color: $base-gray-color;
    }
    .option-enabled{
        color: black;
    }
}
.select-en{
    color: black !important;
}
.select-dis{
    color: $base-gray-color;
}

.daytime-phone{
    display: flex;
    input{
        width: 70%;
    }
    p{
        width: 30%;
        color: $base-gray-color;
        font-size: $small-fontsize;
        padding-left: 5px;
    }
}

.country{
    display: flex;
    
    select{
        width: 70%;
    }
    input{
        width: 30%;
    }
}

h1, h2 {
    color: $base-color;
    font-weight: normal;
}
h1{
    font-size: 26px;
}
h2{
    font-size: $base-fontsize;
    margin-bottom: 0;
}

.input-with-img{
    position: relative;
    //margin-top: 10px;
    //margin-bottom: 10px;
    img{
        position: absolute;
        height: 20px;
        right: 15px;
        top: 15px;
    }
}
.img-visible{
    visibility: visible;
}
.img-hidden{
    visibility: hidden;
}
input[type=submit]{
    color: white;
    font-size: $base-fontsize;
    background-color: $base-color;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 66%;
    margin-top: 20px
}

.status{
    display: flex;
    align-items: center;
    font-size: $small-fontsize;
    .active{
        color: $base-color;
    }
    .base{
        color: $base-gray-color;
    }
    img{
        padding: 15px;
    }
}

.clickable{
    color: $base-color;
    font-size: $small-fontsize;
    text-decoration: underline;
    cursor: pointer;
}

.biling__same{
    @extend .clickable;
    float: right;
    padding: 10px;
}

.pay-secure{
    color: $base-gray-color;
    display: flex;
    align-items: center;
    font-size: 14px;
    img{
        height: 30px;
    }
}

.card-attributes{
    display: flex;
    .card-attributes__expdate{
        width: 35%;
    }
    .card-attributes__seccode{
        width: 35%;
        margin-left: 30px;
    }
}

.print{
    @extend .clickable;
    font-weight: bold;
}

.email{
    color: $base-color;
}

.card-success{
    padding-top: 50px;
    p{
        margin-top: 30px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;
    border: none;
    width: 100%;
  }
  
  .tooltip .tooltiptext {
    visibility: visible;
    width: auto;
    background-color: white;//$base-gray-color;
    color: red;
    text-align: center;
    border-radius: 6px;
    border: 1px solid $base-gray-color;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    border-width: 5px;
    border-style: solid;
    border-color: $base-gray-color transparent transparent transparent;
  }
  .tooltiptext-hidden{
   display: none;   
  }